[Unit]
Description=Lock session
After=graphical.target

[Service]
Type=oneshot
User=auto
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/lockctl
